body {
    padding: 0;
    margin: 0;
    color: rgb(5, 5, 5);
    font-family: 'Roboto', sans-serif;
}

header{
    background-size: cover;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-page {
    letter-spacing: 10px;
    color: white;
    font-size: 72px;
    font-weight: 300;

}

.section {
    margin-top: 50px;
    margin-bottom: 30px;
}

.img-in-section{
    width: 50%;
    margin: 0 auto;
    display: block;
}

.container{
    margin-top: 100px;
    margin-left:  16.66%;
    margin-right:  16.66%;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.6));
}

.title-section {
    padding: 15px 0px;
}

.section.description{
    font-size: 32px;
    font-weight: 200;
}

.title-section{
    font-size: 40px;
}

.list {
    font-size: 28px;
    font-weight: 200;
    line-height: 1.5;
}


ul .list{
    list-style-type: '-  ';
}